{{ define "main" }}
<div class="container">
    <h1>{{ .Title }}</h1>
    
    {{ if .Content }}
    <div class="content">
        {{ .Content }}
    </div>
    {{ end }}
    
    <div class="post-list">
        {{ range .Pages }}
        <article class="post-card">
            <a href="{{ .Permalink }}">
                {{ if .Params.thumbnail }}
                <img src="{{ .Params.thumbnail }}" alt="{{ .Title }}" class="post-thumbnail">
                {{ end }}
                <div class="post-card-content">
                    <h3>{{ .Title }}</h3>
                    <p class="post-excerpt">{{ .Description | default (truncate 150 (.Summary | replaceRE "^#{1,6}\\s+" "" | replaceRE "\\n" " ")) }}</p>
                    <div class="post-meta">
                        <time>
                            {{ if eq .Site.LanguageCode "en" }}
                                {{ $dayWithSuffix := partial "ordinal-date.html" .Date }}
                                {{ printf "%s %s, %d" (.Date.Format "Jan") $dayWithSuffix (.Date.Year) }}
                            {{ else }}
                                {{ .Date.Format (i18n "date_format") }}
                            {{ end }}
                        </time>
                        {{ if .Params.categories }}
                        <span class="category">{{ index .Params.categories 0 }}</span>
                        {{ end }}
                    </div>
                </div>
            </a>
        </article>
        {{ end }}
    </div>
</div>
{{ end }}

